html {
    margin: auto;
    padding-top: 10px;
    background-color: transparent;
}

body a img {
    display: none;
}

body {
    padding: 0 10px;
    display: block;
    font-family: "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
    width: 974px;
    margin: auto;
    line-height: 1.6;
    color: #666666;
    box-shadow: 2px 2px 10px #909090;
    border-radius: 3px;
}

h1 {
    font-size: 2.1em;
    padding-left: 1.5em;
    padding-top: 1em;
    margin-top: 0;
}

h1 a {
    cursor: pointer;
    color: #86C230;
}

h2 {
    margin-left: 3%;
}

a:link {
    color: #86C230;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    color: #999;
    text-decoration: none
}

a:visited {
    color: #86C230;
    text-decoration: none
}

a:hover {
    background-color: #E0FFFF;
    text-decoration: none;
}

/* 主框 */
div.main_div {
    margin: 2em 1em 1em;
}

div.side_div {
    height: 100px;
    background: transparent;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 0;
    border-radius: 3px;
}

/* 页脚 */
div.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    display: block;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

/* 博客列表分页 */
div.blog_unit {
    font-size: 12px;
    min-height: 24px;
    border-bottom: 1px dashed #999;
    margin: 0 0 5.7em 0;
    padding: 0 1.7em 0.7em 1.7em;
    line-height: 1.4;
    word-break: break-all;
}

/* 博客列表样式 */
h2 {
    cursor: pointer;
    font-size: 1.5em;
    border-left: 7px solid #999;
    border-bottom: 1px dashed #999;
    padding: 0.1em 0.7em;
    margin: 0 0 1.7em 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div.blog_type {
    margin-top: 1.5em;
    text-align: left;
    display: inline;
}

div.blog_sign {
    float: right;
    display: inline;
    float: right;
}

div.blog_sign a {
    margin-left: 1em;
    font-size: 14px;
}

div.blog_sign a {
    cursor: pointer;
    color: #86C230;
    text-decoration: none
}

div.blog_sign a:visited {
    cursor: pointer;
    color: #86C230;
    text-decoration: none
}

div.blog_sign a:hover {
    cursor: pointer;
    color: #86C230;
    text-decoration: none
}


div.blog_content {
    font-size: 12px;
    padding: 0 1.7em 0.7em 1.7em;
    line-height: 1.4;
    word-break: break-all;
}

a.a-type, span.a-type {
    cursor: pointer;
    color: white;
    padding: 0.5em;
    margin-right: 0.4em;
    background-color: #009999;
    box-shadow: 1px 1px 5px #909090;
}

a.a-tag {
    color: white;
    cursor: pointer;
    padding: 0.5em;
    background-color: #b2868e;
    box-shadow: 1px 1px 5px #909090;
    margin-right: 0.2em;
}

div.d-pagination {
    text-align: center;
}

div.d-pagination a {
    padding: 0.5em;
}

/* footer */
div.footer a {
    padding: 0.5em !important;
}

.d-donation {
    margin: 0 auto;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 100px;
}

.d-donation li {
    background-color: white;
    display: inline-grid;
}

.img-donation {
    padding: 0.5em;
    width: 256px;
    height: 256px;
    background-color: transparent;
}

#search-input {
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding: 10px;
}

#search-result {
    padding-inline-start: 10px;
}

ul#search-result li {
    margin-bottom: 0.7em;
    list-style-type: none;
    text-align: left;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}